@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;


.form {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__note {
    margin: 1rem;
  }

  &__button {
    margin: 1rem;
  }
}

.add-notes {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-size: 1.2rem;
    margin: 4rem 2rem 1rem 2rem;
    padding: 0rem;
  }

  &__notes-container {
    display: flex;
  }
}

.note {
  display: flex;
  flex-direction: column;
  margin: 2rem;

  &__input {
    margin: 1rem 0 0 0;
  }
}