@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;


.form {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__note {
    margin: 1rem;
  }

  &__button {
    margin: 1rem;
    border: none;
    border-radius: 1.8rem;
    background-color: #afa4c2;
  }

  &__button:hover {
    background-color: #9589a7;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.add-notes {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-size: 1.2rem;
    padding: 1rem;
    color: white;
  }

  &__notes-container {
    display: flex;
    margin: 1rem 0;
  }

  &__form {
    margin: 2rem;
  }
}

.note {
  display: flex;
  flex-direction: column;
  margin: 0 1.2rem;

  &__input {
    margin: 1rem 0 0 0;
    padding: 1.4rem;
    height: 20rem;
    width: 18rem;
    border: none;
    background-image: url('../../assets/images/torn-note.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 1.4rem;
    font-size: 0.8rem;
  }
}