@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.music-page {
  background-image: url('../../assets/images/white-crumpled-paper-texture-background-close-up_64749-2573.avif');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vh;
  padding: 1.4rem 0 4rem 0;
}