@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 207, 229);
}