@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.search {

  &__input {
    margin: 1rem;
    padding: 0.4rem;
    width: 18rem;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3.2rem 4rem 2.8rem 4rem;
  }

  &__submit {
    height: 1.8rem;
    width: 4.2rem;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 1rem;
    background-color: #9e8db7;
  }

  &__submit:hover {
    background-color: #796c8d;
  }
}

.search-results {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  margin: 0 2rem 0 2rem;

  &__song-details-container {
    display: flex;
    width: 100%;
  }

  &__item-container {
    margin: 0;
    padding: 0;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__select-tag {
    padding: 0.4rem;
    display: flex;
    align-items: center;
  }

  &__contents {
    display: flex;
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    width: 32rem;
  }
}

.songs {
  display: flex;
  margin: 1.2rem 2rem;
}

.song-details {
  margin: 0;
  padding: 0;

  &__container {
    padding: 0.4rem;
    display: flex;
  }

  &__song-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 16rem;
    height: 4rem;
  }

  &__song-album-container {
    width: 12rem;
    display: flex;
    align-items: center;
  }

  &__cover-art-container {
    width: 4rem;
    height: 4rem;
  }

  &__text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 28rem;
  }

  &__song-name {
    padding: 0.6rem 0 0 0.5rem;
    font-size: 1.1rem
  }

  &__song-artist {
    padding: 0 0 0.5rem 0.5rem;
  }
}

.selected-songs {
  width: 50%;
  margin: 0 2rem 0 2.5rem;

  &__header {
    padding: 0 1rem 1rem 2rem;
    font-size: 1.2rem;
  }

  &__song-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 2rem;
  }
}

.selected-song {
  
  &__song-name {
    padding: 0.2rem;
    display: flex;
    font-size: 1.1rem;
  }

  &__artist-name {
    padding: 0.2rem;
    display: flex;
    font-size: 1.1rem;
  }

  &__info-container {
    display: flex;
  }

  &__image {
    width: 16rem;
    height: 16rem;
  }

  &__button-remove {
    border: none;
    outline: none;
    width: 12rem;
    height: 2rem;
    border-radius: 8px;
    }

  &__button-remove:hover {
    background-color: rgb(222, 222, 222);
  }
}

.selected {
  background-color: #d4cae3;
  border: none;
  margin: 0.2rem 0 0.2rem 0;
}

.unselected {
  margin: 0.2rem;
  width: 32rem;
  background-color: lavender;
  border: none;
}

.unselected:hover {
  background-color: #bfafd7;
}