@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.home-page {
    background-image: url('../../assets/images/note-paper-1.avif');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vh;
    padding-top: 2rem;

  &__header {
    display: flex;
    justify-content: center;
    font-size: 3.2rem;
  }

  &__subheader {
    margin: 0;
    padding: 0.8rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }
}

.home {

  &__button {
    border: none;
    padding: 1rem;
    background-color: #afa4c2;
    border-radius: 2rem;
    width: 10rem;
    height: 3.8rem;
    font-size: 1.2rem;
    color: white;
  }

  &__button:hover {
    background-color: #9589a7;
  }
}

.button {

  &__link {
    text-decoration: none;
    color: black;
    margin: 1.2rem 2rem 0 2rem;
  }

  &__container {
    display: flex;
    justify-content: center;
  }
}