@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.navbar {
  display: flex;

  &__list {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }
}

.list-item {
  margin: 0.8rem;

  &__link {
    text-decoration: none;
    color: black;

    &.active {
      border-bottom: 1px solid black;
    }
  }

  &__link:hover {
    border-bottom: 1px solid black;
  }
}